
# Build directories
/build/
/build*/

# CMake
CMakeFiles/
CMakeCache.*xt
cmake_install.cmake
CTestTestfi*e.cmake
Testing/
compile_commands.*son

# Generated Make/Ninja files
*akefile
*.ninja
.ninja_deps
.ninja*log

# Visual Studio
.vs/
*.suo
*.*ser
*.VC.db
*.VC.opendb

# Intelli*ense
*.ipch
ipch/

# Visual Studio*generated CMake folders
out/
x64/
*86/

# Compiler outputs
*.obj
*.o
*.lo
*.a
*.lib
*.dll
*.so
*.dylib
**exe
*.out
*.pdb
*.idb

# Logs
*.lo*

# Temporary files
*.tmp
*.temp
`*
