CONFIG_TARGET_BOARD="ESP32_P4"
CONFIG_TARGET_SERIES="ESP32_P4"
# CONFIG_NF_TARGET_HAS_NANOBOOTER is not set
CONFIG_NF_SUPPORT_ANY_BASE_CONVERSION=y
CONFIG_NF_FEATURE_RTC=n
CONFIG_NF_FEATURE_HAS_SDCARD=n
CONFIG_NF_FEATURE_USE_LITTLEFS=n
CONFIG_NF_FEATURE_HAS_ACCESSIBLE_STORAGE=y
CONFIG_API_SYSTEM_NET=n
CONFIG_API_SYSTEM_DEVICE_SPI=n
CONFIG_API_SYSTEM_DEVICE_I2C=n
CONFIG_API_SYSTEM_DEVICE_I2C_SLAVE=n
CONFIG_API_SYSTEM_DEVICE_PWM=n
CONFIG_API_SYSTEM_DEVICE_ADC=n
CONFIG_API_SYSTEM_DEVICE_I2S=n
CONFIG_API_SYSTEM_DEVICE_WIFI=n
CONFIG_API_SYSTEM_IO_PORTS=n
CONFIG_API_NANOFRAMEWORK_GRAPHICS=y
CONFIG_API_NANOFRAMEWORK_RESOURCEMANAGER=n
CONFIG_API_NANOFRAMEWORK_SYSTEM_COLLECTIONS=n
CONFIG_API_NANOFRAMEWORK_SYSTEM_SECURITY_CRYPTOGRAPHY=n
CONFIG_API_NANOFRAMEWORK_SYSTEM_IO_HASHING=n
CONFIG_API_NANOFRAMEWORK_HARDWARE_ESP32_RMT=n
CONFIG_SDK_CONFIG_FILE="sdkconfig.default.rev.less3.esp32p4"
CONFIG_ESP32_ETHERNET_SUPPORT=n
CONFIG_ESP32_ETHERNET_MDC_GPIO=31
CONFIG_ESP32_ETHERNET_MDIO_GPIO=52
CONFIG_ESP32_ETHERNET_PHY_RST_GPIO=51
